html {
  font-size: 12px; }

html, body {
  border: 0;
  margin: 0;
  padding: 0; }

.background {
  position: relative;
  background-image: url("../images/bg-image-1920-1080-CONTRAST-UP.jpg");
  background-attachment: fixed;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw; }

.nav {
  height: 2.5rem;
  width: 100vw;
  background-color: #e7e7e7;
  display: flex;
  justify-content: center;
  align-items: center; }

.nav__navtext {
  font-family: "Bungee Shade", cursive;
  font-size: 1.5rem;
  color: #010b20e6;
  border: 1px solid #010b20e6;
  padding: 0rem 0.2rem;
  border-radius: .2rem;
  background-color: #ffffffe6; }

.logo {
  position: relative;
  top: 15rem;
  width: 100vw;
  display: flex;
  justify-content: center;
    /*@include mobile {

        position: relative;
        top: 18rem;
        width: 100vw;
        display: none;
        justify-content: center;
        left:0;
   
    }*/ }
  @media (min-width: 500px) and (min-height: 320px) {
    .logo {
      position: relative;
      top: 4rem;
      width: 92vw;
      display: none;
      justify-content: left;
      left: 2vw; } }
  @media (min-width: 500px) and (min-height: 375px) {
    .logo {
      position: relative;
      top: 4rem;
      width: 92vw;
      display: none;
      justify-content: left;
      left: 8vw; } }
  @media (min-width: 700px) and (min-height: 375px) {
    .logo {
      position: relative;
      text-outline: 6rem;
      width: 90vw;
      display: none;
      justify-content: left;
      left: 7vw; } }
  @media (min-width: 320px) and (max-width: 499px) {
    .logo {
      position: relative;
      top: 14.5rem;
      width: 100vw;
      display: none;
      justify-content: center;
      left: 0; } }
  @media (min-width: 375px) and (max-width: 499px) {
    .logo {
      position: relative;
      top: 18.5rem;
      width: 100vw;
      display: none;
      justify-content: center;
      left: 0; } }
  @media (min-width: 320px) and (min-height: 700px) {
    .logo {
      position: relative;
      top: 22rem;
      width: 100vw;
      display: none;
      justify-content: center; } }
  @media (min-width: 700px) and (min-height: 1024px) {
    .logo {
      position: relative;
      top: 28rem;
      width: 100vw;
      display: none;
      justify-content: center;
      left: 0; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .logo {
      position: relative;
      top: 9rem;
      left: 5vw;
      width: 95vw;
      display: none;
      justify-content: left; } }
  @media (min-width: 1200px) and (max-width: 1499px) {
    .logo {
      position: relative;
      top: 8rem;
      left: 3vw;
      width: 97vw;
      display: flex;
      justify-content: left; } }
  @media (min-width: 1500px) {
    .logo {
      position: relative;
      top: 13rem;
      left: 3vw;
      width: 97vw;
      display: flex;
      justify-content: left; } }

.logo__title {
  margin: 0; }

.logo__title--font {
  font-family: "Bungee Shade", cursive;
  font-size: 4rem;
  color: #13182a; }
  @media (min-width: 500px) and (min-height: 320px) {
    .logo__title--font {
      font-size: 2.5rem; } }
  @media (min-width: 700px) and (min-height: 1024px) {
    .logo__title--font {
      font-family: "Bungee Shade", cursive;
      font-size: 7rem;
      color: #13182a; } }
  @media (min-width: 1024px) and (min-height: 700px) {
    .logo__title--font {
      font-size: 4rem; } }
  @media (min-width: 1200px) and (max-width: 1499px) {
    .logo__title--font {
      font-family: "Bungee Shade", cursive;
      font-size: 7rem;
      color: #13182a;
      font-size: 6rem; } }
  @media (min-width: 1500px) {
    .logo__title--font {
      font-family: "Bungee Shade", cursive;
      font-size: 8rem;
      color: #13182a; } }

.search-container {
  position: relative;
  top: 19vh;
        /*@include xl-mobile-portrait {

            top: 28vh;
        }*/
    /*@include desktop {

        display: flex;
        flex-direction: column;
        height: 50vh;
        width: 40vw;
        justify-content: center;
        position: relative;
        left: 30vw;
        top: 30vh;

        p {
            font-family: $button-font;
            font-size: 1.5rem;
            text-align: center;
            margin-bottom: 3rem;
            margin-top: 0;
        }*/ }
  @media (min-width: 500px) and (min-height: 320px) {
    .search-container {
      top: 11vh; } }
  @media (min-width: 375px) and (max-width: 499px) {
    .search-container {
      top: 30vh; } }
  @media (min-width: 500px) and (min-height: 375px) {
    .search-container {
      top: 14vh; } }
  @media (min-width: 700px) and (min-height: 375px) {
    .search-container {
      top: 18vh; } }
  @media (min-width: 700px) and (min-height: 1024px) {
    .search-container {
      top: 35vh; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .search-container {
      top: 26vh; } }
  @media (min-width: 1200px) and (max-width: 1499px) {
    .search-container {
      top: 20vh; } }
  @media (min-width: 1500px) {
    .search-container {
      top: 22vh; } }

.instructions {
  visibility: hidden;
  font-family: "Pontano Sans", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 0;
        /*@include desktop {

        visibility: hidden;
        font-family: $button-font;
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 3rem;
        margin-top: 0;
    
        }*/ }
  @media (min-width: 500px) and (min-height: 320px) {
    .instructions {
      visibility: hidden;
      font-family: "Pontano Sans", sans-serif;
      font-size: 1.5rem;
      text-align: center;
      margin-bottom: 1.5rem;
      margin-top: 0; } }

.search-container--color {
  background-color: #ffffff00;
  border-radius: 50px;
  border: 1px solid rgba(65, 65, 65, 0);
    /*@include xlarge {

    background-color: #ffffff4d;
    border-radius: 50px;
    border: 1px solid rgb(65, 65, 65);
    box-shadow: $button-shadow; 

    }*/ }

.search-buttons, .search-bar, .go-button {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /*transform: translateY(-50%);*/ }

.search-buttons {
  width: 90vw;
  position: relative;
  left: 5vw; }
  @media (min-width: 375px) and (max-width: 499px) {
    .search-buttons {
      width: 80vw;
      left: 10vw; } }
  @media (min-width: 500px) and (min-height: 320px) {
    .search-buttons {
      padding-top: 0rem;
      padding-bottom: 0rem; } }
  @media (min-width: 700px) and (min-height: 1024px) {
    .search-buttons {
      width: 50vw;
      left: 25vw; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .search-buttons {
      width: 40vw;
      left: 30vw; } }
  @media (min-width: 1200px) and (max-width: 1499px) {
    .search-buttons {
      width: 30vw;
      left: 35vw; } }
  @media (min-width: 1200px) and (max-width: 1499px) {
    .search-buttons {
      width: 30vw;
      left: 35vw; } }
  @media (min-width: 1500px) {
    .search-buttons {
      width: 40vw;
      left: 30vw; } }

.search-buttons--background {
  background-color: #d5c1c199;
  border-radius: 6px;
  box-shadow: 2px 4px 6px 0px #4b2413;
  border: 1px solid #000000b3; }
  @media (min-width: 700px) and (min-height: 1024px) {
    .search-buttons--background {
      border: 1px solid #000000b3; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .search-buttons--background {
      border: 1px solid #000000b3; } }
  @media (min-width: 1200px) and (max-width: 1499px) {
    .search-buttons--background {
      border: 1px solid #000000b3; } }

.search-buttons__button {
  margin: 1.5rem; }
  @media (min-width: 500px) and (min-height: 320px) {
    .search-buttons__button {
      margin: .5rem; } }
  @media (min-width: 700px) and (min-height: 375px) {
    .search-buttons__button {
      margin: 1.5rem; } }
  @media (min-width: 1500px) {
    .search-buttons__button {
      margin: 2.5rem; } }
  .search-buttons__button p {
    margin-top: .3rem;
    margin-bottom: .3rem;
    font-family: "Pontano Sans", sans-serif;
    font-size: 1rem;
    color: #d56c05; }

.search-buttons__button__element--style {
  width: 5rem;
  height: 4rem;
  border-radius: 0.6rem;
  border: 1px solid #d56d05c7;
  box-shadow: 2px 4px 6px 0px #592b15;
  background-color: #010b20e6; }
  @media (min-width: 700px) and (min-height: 1024px) {
    .search-buttons__button__element--style {
      width: 6rem;
      height: 5rem;
      border-radius: 0.6rem;
      border: 1px solid #d56d05c7;
      box-shadow: 2px 4px 6px 0px #592b15;
      background-color: #010b20e6; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .search-buttons__button__element--style {
      width: 6rem;
      height: 5rem;
      border-radius: 0.6rem;
      border: 1px solid #d56d05c7;
      box-shadow: 2px 4px 6px 0px #592b15;
      background-color: #010b20e6; } }
  @media (min-width: 1200px) and (max-width: 1499px) {
    .search-buttons__button__element--style {
      width: 6rem;
      height: 5rem;
      border-radius: 0.6rem;
      border: 1px solid #d56d05c7;
      box-shadow: 2px 4px 6px 0px #592b15;
      background-color: #010b20e6; } }
  @media (min-width: 1500px) {
    .search-buttons__button__element--style {
      width: 12rem;
      height: 8rem;
      border-radius: 0.6rem;
      border: 1px solid #d56d05c7;
      box-shadow: 2px 4px 6px 0px #592b15;
      background-color: #010b20e6; } }

.search-buttons__icon--style {
  font-size: 1.6rem;
  color: #d56c05; }

.go-button {
  margin-top: 1rem;
    /*@include desktop {

        margin-top: 5rem;

    }*/ }
  @media (min-width: 375px) and (max-width: 499px) {
    .go-button {
      margin-top: 2rem; } }
  @media (min-width: 700px) and (min-height: 1024px) {
    .go-button {
      margin-top: 7rem; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .go-button {
      margin-top: 4rem; } }
  @media (min-width: 1200px) and (max-width: 1499px) {
    .go-button {
      margin-top: 4rem; } }
  @media (min-width: 1500px) {
    .go-button {
      margin-top: 4rem; } }

/*.search-bar--style{

    width: 250px;
    height: 25px;
    border-radius: 6px;
    border: 1px solid #000;
}*/
.go-button__button--style {
  width: 6rem;
  height: 6rem;
  border-radius: 3rem;
  box-shadow: 2px 4px 6px 0px #4b2413;
  border: 2px solid white;
  background-color: #217219;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Pontano Sans", sans-serif;
  font-size: 1rem;
  font-size: 2rem;
  margin: 0px;
  color: #fff; }
  @media (min-width: 700px) and (min-height: 1024px) {
    .go-button__button--style {
      width: 8rem;
      height: 8rem;
      border-radius: 4rem; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .go-button__button--style {
      width: 8rem;
      height: 8rem;
      border-radius: 4rem; } }
  @media (min-width: 1200px) and (max-width: 1499px) {
    .go-button__button--style {
      width: 8rem;
      height: 8rem;
      border-radius: 4rem; } }
  @media (min-width: 1500px) {
    .go-button__button--style {
      width: 9rem;
      height: 9rem;
      border-radius: 4.5rem; } }

.search-bar__input {
  width: 20rem;
  height: 1.5rem;
  border-radius: 0.3rem;
  border: 1px solid #000;
  margin-bottom: 1.5rem;
  box-shadow: 2px 4px 6px 0px #4b2413;
  font-family: "Pontano Sans", sans-serif;
  font-size: 1.2rem;
  text-align: left;
    /*@include xs-mobile-landscape {

        margin-bottom: .5rem;

    }*/
    /*@include desktop {

    width: 25rem;
    height: 2.5rem;
    border-radius: 0.3rem;
    border: 1px solid #000;
    margin-bottom: 50px;
    box-shadow: $button-shadow;
    font-family: $button-font;
    font-size: 1.2rem;
    text-align: center;

    }*/ }
  @media (min-width: 700px) and (max-width: 991px) {
    .search-bar__input {
      height: 2rem; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .search-bar__input {
      height: 2rem;
      width: 25rem; } }
  @media (min-width: 1200px) and (max-width: 1499px) {
    .search-bar__input {
      height: 2rem;
      width: 25rem; } }
  @media (min-width: 1500px) {
    .search-bar__input {
      height: 2rem;
      width: 25rem;
      margin-bottom: 3.5rem; } }

/*# sourceMappingURL=main.css.map */
