html {
  font-size: 12px; }

html, body {
  border: 0;
  margin: 0;
  padding: 0; }

.background {
  background-image: url("../images/bg-image-1920-1080-CONTRAST-UP-bg-colored.jpg");
  background-attachment: scroll;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: relative; }
  @media (min-width: 500px) and (max-width: 767px) {
    .background {
      height: 120vh; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .background {
      height: 125vh; } }
  @media (min-width: 768px) and (min-height: 1024px) {
    .background {
      height: 80vh; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .background {
      height: 100vh; } }
  @media (min-width: 1200px) and (max-width: 1499px) {
    .background {
      height: 88vh; } }
  @media (min-width: 1500px) {
    .background {
      height: 88vh; } }

nav {
  height: 20vh;
  width: 100vw;
  background-color: #0e091f;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px; }
  @media (min-width: 1200px) and (max-width: 1499px) {
    nav {
      height: 12vh; } }
  @media (min-width: 1500px) {
    nav {
      height: 12vh; } }

.nav__navtext {
  font-family: "Bungee Shade", cursive;
  font-size: 4rem;
  color: #ffffff;
  margin: 0; }
  @media (min-width: 768px) and (max-width: 991px) {
    .nav__navtext {
      font-size: 6rem; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .nav__navtext {
      font-size: 6rem; } }
  @media (min-width: 1200px) and (max-width: 1499px) {
    .nav__navtext {
      font-size: 5rem; } }
  @media (min-width: 1500px) {
    .nav__navtext {
      font-size: 7rem; } }

.search-form {
  display: flex;
  flex-direction: column; }

@media (min-width: 375px) and (max-width: 499px) {
  position: relative;
  top: 18.5rem;
  width: 100vw;
  display: none;
  justify-content: center;
  left: 0; }
.search-container {
  position: relative;
  top: 21vh; }
  @media (min-width: 375px) and (max-width: 499px) {
    .search-container {
      top: 24vh; } }
  @media (min-width: 500px) and (max-width: 767px) {
    .search-container {
      top: 27vh; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .search-container {
      top: 29vh; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .search-container {
      top: 17rem; } }
  @media (min-width: 1200px) and (max-width: 1499px) {
    .search-container {
      top: 20rem; } }
  @media (min-width: 1500px) {
    .search-container {
      top: 27rem; } }

.instructions {
  visibility: hidden;
  font-family: "Pontano Sans", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 0; }

.search-buttons, .search-bar, .go-button {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.search-buttons {
  align-content: center;
  position: relative;
  left: 0vw;
  height: 38vh; }
  @media (min-width: 375px) and (max-width: 499px) {
    .search-buttons {
      height: 40vh; } }
  @media (min-width: 500px) and (max-width: 767px) {
    .search-buttons {
      height: 10rem; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .search-buttons {
      height: 8rem;
      width: 86vw;
      left: 7vw; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .search-buttons {
      width: 40vw;
      position: relative;
      left: 30vw;
      height: 22.5rem; } }
  @media (min-width: 1200px) and (max-width: 1499px) {
    .search-buttons {
      left: 20vw;
      height: 11rem;
      width: 60vw; } }
  @media (min-width: 1500px) {
    .search-buttons {
      left: 15vw;
      height: 13rem;
      width: 70vw; } }

.search-buttons--background {
  background-color: #fdeae86e; }
  @media (min-width: 768px) and (max-width: 991px) {
    .search-buttons--background {
      border: 1px solid #000000b3;
      border-radius: 0.5rem; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .search-buttons--background {
      border: 1px solid #000000b3;
      border-radius: 0.5rem; } }
  @media (min-width: 1200px) and (max-width: 1499px) {
    .search-buttons--background {
      border: 1px solid #000000b3;
      border-radius: 0.5rem; } }
  @media (min-width: 1500px) {
    .search-buttons--background {
      border: 1px solid #000000b3;
      border-radius: 0.5rem; } }

.search-buttons__button {
  margin: 1.5rem; }
  .search-buttons__button p {
    margin-top: .3rem;
    margin-bottom: .3rem;
    font-family: "Pontano Sans", sans-serif;
    font-size: 1rem;
    color: #d56c05; }
  @media (min-width: 768px) and (max-width: 991px) {
    .search-buttons__button {
      padding-top: 0rem; } }

.search-buttons__button__element--style {
  width: 4rem;
  height: 4rem;
  border-radius: 0.6rem;
  border: 1px solid #d56d05c7;
  box-shadow: 2px 4px 6px 0px #592b15;
  background-color: #0e0920; }
  @media (min-width: 375px) and (max-width: 499px) {
    .search-buttons__button__element--style {
      width: 6rem;
      height: 5rem;
      border-radius: 0.6rem;
      border: 1px solid #d56d05c7;
      box-shadow: 2px 4px 6px 0px #592b15;
      background-color: #0e0920; } }
  @media (min-width: 500px) and (max-width: 767px) {
    .search-buttons__button__element--style {
      width: 4rem;
      height: 4rem;
      border-radius: 0.6rem;
      border: 1px solid #d56d05c7;
      box-shadow: 2px 4px 6px 0px #592b15;
      background-color: #0e0920; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .search-buttons__button__element--style {
      width: 6rem;
      height: 5rem;
      border-radius: 0.6rem;
      border: 1px solid #d56d05c7;
      box-shadow: 2px 4px 6px 0px #592b15;
      background-color: #0e0920; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .search-buttons__button__element--style {
      width: 7rem;
      height: 6rem;
      border-radius: 0.6rem;
      border: 1px solid #d56d05c7;
      box-shadow: 2px 4px 6px 0px #592b15;
      background-color: #0e0920; } }
  @media (min-width: 1200px) and (max-width: 1499px) {
    .search-buttons__button__element--style {
      width: 7rem;
      height: 6rem;
      border-radius: 0.6rem;
      border: 1px solid #d56d05c7;
      box-shadow: 2px 4px 6px 0px #592b15;
      background-color: #0e0920; } }
  @media (min-width: 1500px) {
    .search-buttons__button__element--style {
      width: 11rem;
      height: 8rem;
      border-radius: 0.6rem;
      border: 1px solid #d56d05c7;
      box-shadow: 2px 4px 6px 0px #592b15;
      background-color: #0e0920; } }

.search-buttons__icon--style {
  font-size: 1.6rem;
  color: #d56c05; }

.go-button {
  margin-top: 0rem;
  padding-top: 2rem;
  width: 100vw; }
  @media (min-width: 500px) and (max-width: 767px) {
    .go-button {
      padding-top: 1rem; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .go-button {
      margin-top: 3rem; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .go-button {
      margin-top: 3rem; } }
  @media (min-width: 1500px) {
    .go-button {
      margin-top: 3rem; } }

.go-button__button--style {
  width: 6rem;
  height: 6rem;
  border-radius: 3rem;
  box-shadow: 2px 4px 6px 0px #4b2413;
  border: 2px solid white;
  background-color: #217219;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Pontano Sans", sans-serif;
  font-size: 1rem;
  font-size: 2rem;
  margin: 0px;
  color: #fff; }
  @media (min-width: 1500px) {
    .go-button__button--style {
      width: 8rem;
      height: 8rem;
      border-radius: 4rem;
      box-shadow: 2px 4px 6px 0px #4b2413;
      border: 2px solid white;
      background-color: #217219; } }

.search-bar__input {
  width: 20rem;
  height: 2rem;
  border-radius: 0.3rem;
  border: 1px solid #000;
  margin-bottom: 1.5rem;
  font-family: "Pontano Sans", sans-serif;
  font-size: 1.2rem;
  text-align: left; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .search-bar__input {
      width: 25rem; } }
  @media (min-width: 1200px) and (max-width: 1499px) {
    .search-bar__input {
      height: 2.5rem;
      width: 25rem; } }
  @media (min-width: 1500px) {
    .search-bar__input {
      height: 2.5rem;
      width: 25rem;
      margin-bottom: 2.5rem; } }

.hide-results {
  display: none; }

.all-results {
  height: auto;
  width: 100vw;
  overflow: visible; }

.results {
  height: auto;
  width: 100vw;
  position: relative;
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  top: 4rem;
  align-content: center; }

.all-results--background {
  background-color: #0e0920;
  padding-bottom: 9rem; }

.results__display {
  width: 27rem;
  height: 20rem;
  position: relative; }
  @media (min-width: 768px) and (max-width: 991px) {
    .results__display {
      width: 50rem;
      height: 30rem; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .results__display {
      width: 50rem;
      height: 30rem; } }
  @media (min-width: 1200px) and (max-width: 1499px) {
    .results__display {
      width: 50rem;
      height: 30rem; } }
  @media (min-width: 1500px) {
    .results__display {
      width: 50rem;
      height: 30rem; } }

#map {
  height: 100%;
  width: 100%;
  position: relative; }

.results-text {
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  position: relative;
  width: 25rem;
  height: auto;
  text-align: center; }
  @media (min-width: 768px) and (max-width: 991px) {
    .results-text {
      width: 48rem; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .results-text {
      width: 48rem; } }
  @media (min-width: 1200px) and (max-width: 1499px) {
    .results-text {
      width: 48rem; } }
  @media (min-width: 1500px) {
    .results-text {
      width: 48rem; } }

.results-text--style {
  padding: 1rem;
  border-radius: 6px;
  background-color: #fff;
  color: #0e0920; }

.map-instructions {
  position: relative;
  text-align: center;
  padding-top: 1rem;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  color: #fff; }

.reset {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.reset__button {
  position: relative;
  top: 2rem;
  text-align: center; }

.reset__button--style {
  width: 6rem;
  height: 6rem;
  border-radius: 3rem;
  border: 2px solid white;
  background-color: #dd1616;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Pontano Sans", sans-serif;
  font-size: 1.5rem;
  margin: 0px;
  color: #fff; }

/*# sourceMappingURL=main.css.map */
