@import "helpers/global-resets";
@import "helpers/fonts";
@import "helpers/mixins";




//-------------------- LANDING PAGE --------------------------//
.body-background {

    background-color: #0e0920;
    
}


.flex-container {

    display: flex;
    flex-direction: column;
    
    
    @include tablet {

     //   height: 100vh;
        height: 100vh;
    }

    @include desktop{

        
    }
}
.background {

    opacity: 0;
    background-image: url("../images/bg-image-1920-1080-CONTRAST-UP-bg-colored-split-top.jpg");
    background-attachment: scroll;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    //width: 100vw;
    //height: 10rem;
    position: relative;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 17rem;
    border-bottom: 0.5rem solid #f9e5e6;
    

  
    animation-name: fade-up;
    animation-timing-function: ease-in;
    animation-duration: 0.2s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;


    @include tablet {

        flex-basis: 30rem;
    
       
    }


    @include desktop {

        flex-basis: 21rem;
      
    }

    @include large {

        flex-basis: 22rem;
    }

    @include xlarge {
        
        flex-basis: 34rem;
    }
    
    
}

nav {
    opacity: 0;
    //height: 10rem;
   // width: 100vw;
    background-color: #0e091f;
    display: flex;
    align-items:center;
    justify-content:center;
    border: 0px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 10rem;

    animation-name: fade-up;
    animation-timing-function: ease-in;
    animation-duration: 0.2s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;

    @include tablet {

      
        flex-basis: 18rem;
       // flex-grow:1;
    }

    @include desktop {

        flex-basis: 10rem;
    }

    @include large {
        
        //flex-basis: 8rem;
    
    }

}

.nav__navtext {

    font-family: "Bungee Shade", cursive;
    font-size: 4rem;
    color: #ffffff;
    margin: 0;


    @include tablet {

        font-size: 6rem;
    }

    

    @include xlarge {

        font-size: 7rem;
    }
}

.bubble-image {

    opacity: 0;
    visibility: hidden;
    //display: hidden;
    height: 6rem;
    //width: auto;
    position: relative;
    left: 66%;
    //top: 0vh;
    transition-delay:0.4s;
    transition: opacity 0.8s ease-in;

    @include mobile-landscape{

         
        left: 58%;
       
       
    }

    @include tablet {
        
       
        //opacity: 1;
        left: 64%;
        //width: auto;
       

    }

    @include tablet {

        visibility: visible;
        left: 64%;
        height: 9rem;
        //width: auto;
       
    }

    @include desktop {

        left: 58%;
        height: 7rem;
        //width: auto;
       
    }

    
    @include large {

        left: 57%;
        height: 7rem;
        //width: auto;
        top: 1rem;

    }

    @include xlarge {

        left: 57%;
        height: 10rem;
        //width: auto;
        top: 2rem;
        
    }
}

.img-click {

    opacity :1;
    
}

.search-form {

    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
    //margin-bottom: 2.5rem;
    position: relative; 
    flex-grow:1;
    flex-shrink: 0;
    //padding-top: 2rem;
    //padding-bottom: 2rem;
    //flex-basis: 30rem;
    justify-content: center;
    //box-sizing: border-box;
    animation-name: fade-up;
    animation-timing-function: ease-in;
    animation-duration: 0.2s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
   
    

    @include large {

        //flex-basis: 30rem;
       // top: 0;
        padding-bottom: 0;
        justify-content: center;
    }
    
    @include xlarge {

       // flex-basis: 30rem;
        justify-content: center;

    }
    

 //position: relative;
        //top: 18.5rem;
       // width: 100vw;
        //display: none;
       // justify-content:center;
        //left:0;
    //    display: flex;
      //  flex-direction: column;
        //justify-content: space-evenly;
    

}

// --------------- SEARCH BUTTONS ---------------//

/*.search-container {

    border-top: 0.5rem solid #f9e5e6;
    //display: flex;
    //flex-direction: column;
    //flex-grow: 1;
    //display: flex;
    //flex-basis: 32rem;
    //justify-content: center;
    //opacity: 0;
    //position: relative;
  
    //padding: 2.5rem 0rem;
    //background-color: #0e091f;
    //flex-grow: 1;
    //flex-shrink: 1;
    //border-top: 0.5rem solid #f9e5e6;
    //display: flex;
    //align-content: center;

    /*animation-name: fade-up;
    animation-timing-function: ease-in;
    animation-duration: 0.2s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
          
    @include tablet {

        flex-basis: 32rem;
    }

    @include large {

        flex-basis: 20rem;
    }
   
}
*/

/*.instructions {

    visibility: hidden;
    font-family: $button-font;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 0;

    
}*/
    

    
.search-buttons , .search-bar, .go-button{

   /* display: flex;
    justify-content: space-around;
    flex-wrap: wrap;*/
    
}

.search-buttons {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-shrink: 0;


    @include tablet {

    }

    @include desktop {

       
    }
    

    @include large {

       
    }

    @include xlarge {

        
    }
   
}

.search-buttons--background {

    background-color: #fdeae86e;
    @include search-buttons-border;

   @include tablet {

    @include search-buttons-border;

   }

   @include desktop {

    @include search-buttons-border;
    
   }

   @include large {

    @include search-buttons-border;
   }

   @include xlarge {

    @include search-buttons-border;

   }
   
}

.search-buttons__button {

    margin: 1.5rem;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-evenly;

   // padding-top: 0rem;
    
   @include desktop {

    
   }

    .search-buttons__button__text {

    margin-top: .3rem;
    margin-bottom: .3rem;
    @include button-text-desktop;
    color: #0e091f;
    transition: $search-button-text-transition;
    }

    @include tablet {

        padding-top: 0rem;
        
    }
}

.search-buttons__button__element--style {


    @include search-button-xs-mobile;
    transition: $box-shadow-transition;
    

    

    @include sm-mobile {
        
       @include search-button-mobile;

    }
   
    @include mobile-landscape {

        @include search-button-xs-mobile;

    }

    @include tablet {

        @include search-button-mobile;
    }

    @include desktop {

        @include search-button-xlarge;
    }

    
    
    @include large {
     
        @include search-button-mobile;
        
    }

    @include xlarge {

        @include search-button-xlarge;
        
        
    
    }

}

.search-button-clicked {
   
    border: 1px solid $search-button-background;
    //transition: background-color, 0.3s, cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-color: $search-button-icon-color;
    box-shadow: 2px 4px 2px 0px #33180a;

}


.search-buttons__icon--style {

    display: block;
    font-size: 1.6rem;
    color: $search-button-icon-color;
    transition: $search-button-text-transition;
}

.search-buttons__icon--clicked {
    
    
    color: $search-button-background;

}

#search-buttons__text--clicked {
    
    
    color: $search-button-background;

}


.search-buttons__button__element--style:hover,
.search-buttons__button__element--style:focus {

  
    box-shadow: 2px 4px 2px 0px #33180a;;


}







//------------ GO BUTTON ------------------//

.go-button {

    position: relative;
    //top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1.5rem;

   /* margin-top: 0rem;
    padding-top: 2rem;
    width: 100vw;

    @include mobile-landscape {

        padding-top: 2rem;
    }

    @include tablet {
        padding-top: 0rem;
        margin-top: 2rem;
    }

    @include desktop {

        margin-top: 2rem;
    }


    @include xlarge {

       
        margin-top: 3rem;
        
    }*/

   
}




.go-button__button--style {


    @include go-button-mobile;

    display: flex;
    justify-content: center;
    align-items: center;
    transition-delay: .4s;
    transition: color 0.4s, cubic-bezier(0.175, 0.885, 0.32, 1.275);
  

    
    @include button-text-desktop;
    font-size: 2rem;
    margin: 0px;
    color: #fff;

    @include tablet {

        @include go-button-mobile;
    }
    @include desktop {

        @include go-button-mobile;
    }
    @include large {

        @include go-button-mobile; 
    }
    @include xlarge {

        @include go-button-large-desktop;
    }
}

.go-deactivate {

    display: none;
}

a {

    text-decoration: none;
}

.go-button__button--style:hover,
.go-button__button--style:focus {

    box-shadow: 2px 3px 3px 2px #24110c;
 
}

.go-click {

    box-shadow : 2px 3px 3px 2px #24110c;
    font-size:2.5rem;
    background-color: #fff;
    color: #509949;
    border: 1px solid #509949;
   
}
// ----------------- SEARCH BAR ----------------//

.search-bar__input {

    width: 20rem;
    height: 2rem;
    border-radius: 0.3rem;
    border: 1px solid #000;
    margin-bottom: 1.5rem;
    
    font-family: $button-font;
    font-size: 1.2rem;
    text-align: left;


    @include desktop {
        height: 2.5rem;
        width: 25rem;
    }

 

    

}

//-------------------- LANDING PAGE STYLES END ----------------------//

// ----------------------- RESULTS STYLES --------------------------//

.hide-results {

    display: none;
}

.all-results {

    //height: auto;
    //width: 100vw;
    //overflow: visible;
}
.results {

    //height: auto;
    //width: 100vw;
    position: relative;
    overflow: visible;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    top: 4rem;
    align-items: center;
}



.all-results--background {

   // background-color: #0e0920;
    padding-bottom: 9rem;
}

.results__display {

    width: 27rem;
    height: 20rem;
    position: relative;

    @include tablet {

        width: 50rem;
        height: 30rem;
    }

    @include desktop {

        width: 60rem;
        height: 40rem;
    }

   
}

#map {

    height: 100%;
    width: 100%;
    position: relative;
        
}

.results-text {

    font-family: $text-font;
    font-size: 1rem;
    position: relative;
    //top: 5rem;
    width: 25rem;
    height: auto;
    //left: 25vw;
    text-align: center;

    @include tablet {

        width: 48rem;
    }


    @include large {

        width: 60rem;
    }

    @include xlarge {

        width: 60rem;
    }
}

.results-text--style {

    display: none;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #fff;
    color: #0e0920;


}
.map-instructions {

    position: relative;
    text-align: center;
    padding-top: 1rem;
    font-family: $text-font;
    font-size: 1rem;
    color: #fff;
}

.reset {

    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 6rem;
    height: 6rem;
    align-content: center;
    top: 2rem;
    position: relative;
    align-self: center;

    @include xlarge {

        width: 8rem;
        height: 8rem;
    }

}

.reset__button--style {

    width: 6rem;
    height: 6rem;
    border-radius: 3rem;
    border: 2px solid white;
    background-color: #dd1616;
    display: flex;
    justify-content:center;
    align-items:center;
    font-family: $button-font;
    font-size: 1.5rem;
    margin: 0px;
    color: #fff;
    transition-delay: .4s;
    transition: border, 0.3s, background-color, 0.3s, color, 0.3s, cubic-bezier cubic-bezier(0.175, 0.885, 0.32, 1.275);
    
    @include xlarge {

        width: 8rem;
        height: 8rem;
        border-radius: 4rem;
    }
}

.reset:hover,
.reset:focus {

    cursor: pointer;

}

.reset-click {

    border: 2px solid #dd1616;
    color: #dd1616;
    background-color:#fff;
}

.website-button {

    height: 3rem;
    width: 6rem;
    border: none;
    border-radius: (0.3rem);
    background-color: #d56d05;
    color: #0e0920;
    transition: color, 0.3s, background-color, 0.3s, cubic-bezier(0.175, 0.885, 0.32, 1.275);
    
}

.website-button:hover,
.website-button:focus {

    background-color: #0e0920;
    color: #d56d05;
}

//------------ MODAL STYLES ------------------//
// modified code from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal //

.modal {

    display: none;
    position: fixed;
    z-index:1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
}

.modal__content {

    background-color: rgba(255, 255, 255, 0.933);
    margin: auto;
    padding: 2rem;
    border: 1px solid #0e0920;
    width: 16rem;
    position: relative;
  //  top: 11vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 1rem;

    @include tablet {

        width: 26rem;

    }

    @include desktop {

        width: 26rem;
        
    }

    @include large {

        width: 26rem;

    }

    @include xlarge {
        
        width: 26rem;
       // top: 18vh;
    }
}

.modal__content__close {
    
    color: #171520cc;
    float: right;
    font-size: 2rem;
    font-weight: normal;
    transition: color, 0.3s, ease-in;
}

.modal__content__close:hover,
.modal__content__close:focus {

    color: #0e0920;
    cursor: pointer;
}

.modal__content__text {

        font-family: $text-font;
        color: #0e0920

}


  @keyframes fade-up {
    from {
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
    to {
      opacity: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; } }