// global resets //

html {

    font-size: 12px;
}
html, body {

    border: 0;
    margin: 0;
    padding: 0;
}


//------------- VARIABLES ---------------// 

// FONTS //
$logo-font: "Lobster", cursive;
$button-font:"Pontano Sans", sans-serif;

//BUTTONS//

$button-shadow: 2px 4px 6px 0px rgb(89, 43, 21);

// MEDIA QUERIES

$xs-mobile-height: 320px;
$mobile-height: 375px;
$tablet-height: 768px;

$xs-mobile-width: 320px;
$sm-mobile-width: 375px;
$mobile-width: 500px;
$tablet-width: 768px;
$desktop-width: 992px;
$large-desktop-width: 1200px;
$xlarge-desktop-width: 1500px;

@mixin xs-mobile-landscape {

    @media(min-width:$mobile-width) and (min-height:$xs-mobile-height) {

        @content;

    }
}

@mixin mobile-landscape {

    @media(min-width:$mobile-width) and (min-height: $mobile-height) {

        @content;

    }

}


@mixin xl-mobile-landscape {

    @media(min-width:$tablet-width) and (min-height: $mobile-height) {

        @content;

    }

}

@mixin xl-mobile-portrait {

    @media(min-width:$xs-mobile-width) and (min-height: $tablet-height) {

        @content;

    }

}

@mixin tablet-portrait {

    @media(min-width:$tablet-width) and (min-height: $tablet-height) {

        @content;

    }
}

@mixin xs-mobile {

    @media(min-width:$xs-mobile-width) and (max-width:$mobile-width - 1px) {
        
        @content;
    }
}

@mixin sm-mobile {

    @media(min-width:$sm-mobile-width) and (max-width:$mobile-width - 1px) {
        
        @content;
    }
}

@mixin mobile {

    @media(min-width:$mobile-width) and (max-width:$tablet-width - 1px) {
        
        @content;
    }
}

@mixin tablet {

    @media(min-width:$tablet-width) and (max-width:$desktop-width - 1px) {
        
        @content;
    }
}

@mixin desktop {

    @media(min-width:$desktop-width) and (max-width:$large-desktop-width - 1px) {
        
        @content;
    }
}

@mixin large {

    @media(min-width:$large-desktop-width) and (max-width:$xlarge-desktop-width - 1px){

        @content;
    }
}

@mixin xlarge {

    @media(min-width:$xlarge-desktop-width){

        @content;
    }
}


//----------------------------------------//

// MIXINS //

@mixin logo-text-mobile {

    font-family: $logo-font;
    font-size: 6rem;
    color: #001541;
    
}

@mixin logo-text-desktop {

    font-family: $logo-font;
    font-size: 8rem;
    color: #001541;
}

@mixin button-text-desktop {

    font-family: $button-font;
    font-size: 1rem;
}

@mixin search-button-mobile {

    width: 5rem;
    height: 4rem;
    border-radius: 0.6rem;
    border: 1px solid #d56d05c7;
    box-shadow: 2px 4px 6px 0px #592b15;
    background-color:#010b20e6;
    display: flex;
    flex-direction: column;
    align-content: center;
    
}

@mixin search-button-desktop {

    width: 6rem;
    height: 5rem;
    border-radius: 0.6rem;
    border: 1px solid #d56d05c7;
    box-shadow: 2px 4px 6px 0px #592b15;
    background-color: #010b20e6;
    display: flex;
    flex-direction: column;
    align-content: center;
    
}



@mixin go-button-desktop {

    width: 6rem;
    height: 6rem;
    border-radius: 3rem;
    box-shadow:$button-shadow;
    border: 2px solid rgba(255, 255, 255, 0.747);
    background-color: #217219;
}

//-------------------------------------------------------------//


//-------------------- LANDING PAGE --------------------------//

.background {

    background-image: url("/Users/dafyddarchard/Documents/WEB_DESIGN_STUFF/Code_Institute/stream-one-interactive-front-end/assets/images/puppy-pxhere.com-1920-1080-CONTRAST-UP.jpg");
    background-attachment: fixed;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    
}

.logo {

    position: relative;
    top: 15rem;
    //left: 10vw;
    width: 100vw;
    display: flex;
    justify-content: center;

   @include xs-mobile-landscape {

        position: relative;
        top: 2.5rem;
        width: 92vw;
        display: flex;
        justify-content: left;
        left: 8vw;

    }

    @include mobile-landscape {

        position: relative;
        top: 3.5rem;
        width: 92vw;
        display: flex;
        justify-content: left;
        left: 8vw;

    }

    @include xl-mobile-landscape {

        position: relative;
        top: 5rem;
        width: 90vw;
        display: flex;
        justify-content: left; 
        left: 10vw;
    }
  
    @include xs-mobile {

        position: relative;
        top: 14rem;
        width: 100vw;
        display: flex;
        justify-content: center;
        left:0;
   
    }

    @include sm-mobile {

        position: relative;
        top: 18rem;
        width: 100vw;
        display: flex;
        justify-content: center;
        left:0;
   
    }

    /*@include mobile {

        position: relative;
        top: 18rem;
        width: 100vw;
        display: flex;
        justify-content: center;
        left:0;
   
    }*/

   @include xl-mobile-portrait {

        position: relative;
        top: 20rem;
        //left: 10vw;
        width: 100vw;
        display: flex;
        justify-content: center;

    }

   @include tablet-portrait {

        position: relative;
        top: 26rem;        
        width: 100vw;
        display: flex;
        justify-content: center;
        left:0;
   
    }

    @include desktop {

        position: relative;
        top: 9rem;
        left: 5vw;
        width: 95vw;
        display: flex;
        justify-content: left;
        
    }    

    @include large {

        position: relative;
        top: 7rem;
        left: 5vw;
        width: 95vw;
        display: flex;
        justify-content: left;
    
    }

    @include xlarge {

        position: relative;
        top: 14rem;
        left: 10vw;
        width: 90vw;
        display: flex;
        justify-content: left;
       
    }
}
.logo__title {

    margin: 0;
}

.logo__title--font {

    @include logo-text-mobile;

    @include xs-mobile {

        font-size: 4rem;
    }

    @include xs-mobile-landscape {

        font-size: 4rem;
    }

    @include large {

        @include logo-text-desktop;

    }

    @include xlarge {

        @include logo-text-desktop;


    }
}

// --------------- SEARCH BUTTONS ---------------//

.search-container {

        
        position: relative;
        top: 18vh;

    /*@include desktop {

        display: flex;
        flex-direction: column;
        height: 50vh;
        width: 40vw;
        justify-content: center;
        position: relative;
        left: 30vw;
        top: 30vh;

        p {
            font-family: $button-font;
            font-size: 1.5rem;
            text-align: center;
            margin-bottom: 3rem;
            margin-top: 0;
        }*/

    }

    .instructions {
        visibility: hidden;
        font-family: $button-font;
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 3rem;
        margin-top: 0;
    }
    

    
   
    

.search-container--color{

    background-color: #ffffff00;
    border-radius: 50px;
    border: 1px solid rgba(65, 65, 65, 0);
     

    /*@include desktop {

    background-color: #ffffff4d;
    border-radius: 50px;
    border: 1px solid rgb(65, 65, 65);
    box-shadow: $button-shadow; 

    }*/
    
}

.search-buttons , .search-bar, .go-button{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    //position: relative;
   // top: 30vh;
    /*transform: translateY(-50%);*/
}

.search-buttons--background {

    background-color: #d5c1c199;
}

.search-buttons__button {

    margin: 1.5rem;

    p {

        margin-top: .3rem;
        margin-bottom: .3rem;
        @include button-text-desktop;
        color: #d56c05;;
    }
}

.search-buttons__button__element--style {

    @include search-button-mobile;

    @include desktop {

        @include search-button-mobile;
    }

}

.search-buttons__icon--style {

    font-size: 1.6rem;
    color: #d56c05;;
}

//------------ GO BUTTON ------------------//

.go-button {

    margin-top: 1rem;

    /*@include desktop {

        margin-top: 5rem;

    }*/
}

/*.search-bar--style{

    width: 250px;
    height: 25px;
    border-radius: 6px;
    border: 1px solid #000;
}*/

.go-button__button--style {

    @include go-button-desktop;
    display:flex;
    justify-content: center;
    align-items: center;

    
    @include button-text-desktop;
    font-size: 2rem;
    margin: 0px;
    color: #fff;
    
}


// ----------------- SEARCH BAR ----------------//

.search-bar__input {

    width: 20rem;
    height: 2.5rem;
    border-radius: 0.3rem;
    border: 1px solid #000;
    margin-bottom: 1.5rem;
    box-shadow: $button-shadow;
    font-family: $button-font;
    font-size: 1.2rem;
    text-align: center;

    /*@include desktop {

    width: 25rem;
    height: 2.5rem;
    border-radius: 0.3rem;
    border: 1px solid #000;
    margin-bottom: 50px;
    box-shadow: $button-shadow;
    font-family: $button-font;
    font-size: 1.2rem;
    text-align: center;

    }*/
}

