@import "helpers/global-resets";
@import "helpers/fonts";
@import "helpers/mixins";


// BUTTON TRANSITIONS //

$search-button-background-transition: background-color, 0.2s, cubic-bezier(0.175, 0.885, 0.32, 1.275);
$search-button-text-transition: color, 0.2s, cubic-bezier(0.175, 0.885, 0.32, 1.275);
$box-shadow-transition: box-shadow ,0.2, cubic-bezier(0.175, 0.885, 0.32, 1.275);

//-------------------- LANDING PAGE --------------------------//

.background {

    @include opacity (0);
    background-image: url("../images/bg-image-1920-1080-CONTRAST-UP-bg-colored.jpg");
    background-attachment: scroll;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    @include background-size (cover);
    height: 105vh;
    width: 100vw;
    position: relative;
    overflow: hidden;

  
    @include animation-name (fade-up);
    @include animation-timing-function (ease-in);
    @include animation-duration (0.2s);
    @include animation-delay (0.5s);
    @include animation-fill-mode (forwards);
    @include animation-iteration-count (1);

    @include mobile-landscape {

        height: 130vh;
    
    }

    @include tablet {

        height: 125vh;
    }

    @include tablet-portrait{

        height:80vh;
    }

    @include desktop {

        height: 100vh;
    }

    @include large {

        height: 88vh;
        
    }

    @include xlarge {

        height: 88vh;
    }
    
}

nav {
    @include opacity (0);
    height: 20vh;
    width: 100vw;
    background-color: #0e091f;
    @include display-flex;
    @include align-items(center);
    @include justify-content(center);
    border: 0px;

    @include animation-name (fade-up);
    @include animation-timing-function (ease-in);
    @include animation-duration (0.2s);
    @include animation-delay (0.5s);
    @include animation-fill-mode (forwards);
    @include animation-iteration-count (1);

    @include large {

        height: 12vh;
    }

    @include xlarge {

        height: 12vh;
    }
}

.nav__navtext {

    font-family: "Bungee Shade", cursive;
    font-size: 4rem;
    color: #ffffff;
    margin: 0;
    //background-color: #010b20e6;

    @include tablet {

        font-size: 6rem;
    }

    @include desktop {

        font-size: 6rem;
    }
    @include large {

        font-size: 5rem;
    }

    @include xlarge {

        font-size: 7rem;
    }
}

.bubble-image {

    //z-index: 100;
    visibility: visible;
    @include opacity(0);
    height: 6rem;
    position: relative;
    left: 69vw;
    top: 0vh;
    @include transition (opacity, 0.8s, ease-in);

    @include mobile-landscape{

        left: 56vw;
        top: 0vh;
    }

    @include tablet {
       
        height: 6rem;
        left: 58vw;
        top: 1vh;

    }

    @include tablet-portrait {

        height: 9rem;
        left: 63vw;
        top: 0vh;

    }

    @include desktop {

        height: 8rem;
        left: 59vw;
        top: 0vh;
    }

    
    @include large {

        height: 9rem;
        left: 57vw;
        top: 1vh;

    }

    @include xlarge {

        //display: block;
        height: 12rem;
        left: 58vw;
        top: 0vh;
    }
}

.img-click {

    @include opacity (1);
    
}

.search-form {

    @include display-flex;
    @include flex-direction(column);
}


    @include sm-mobile {

        position: relative;
        top: 18.5rem;
        width: 100vw;
        display: none;
        @include justify-content(center);
        left:0;
   
    }

    

// --------------- SEARCH BUTTONS ---------------//

.search-container {

        
    position: relative;
    top: 11vh;

    @include animation-name (fade-up);
    @include animation-timing-function (ease-in);
    @include animation-duration (0.2s);
    @include animation-delay (0.5s);
    @include animation-fill-mode (forwards);
    @include animation-iteration-count (1);

        @include sm-mobile {

            top: 16.5vh;

        }

       @include mobile-landscape {

            top: 11vh;
        }


        @include tablet {

            top: 10.5vh;
        }

        @include tablet-portrait {

            top: 15.5vh;
        }

       // @include large-tablet-portrait {

        //    top: 28rem;
      //  }
//
       // @include large-tablet-landscape {

          ///  top: 16rem;

       // }

        @include desktop {

            top: 9rem;
        }

        @include large {

            top: 8.0rem;
        }

        @include xlarge {

            top: 14.5rem;
        }

        

    }

    .instructions {
        visibility: hidden;
        font-family: $button-font;
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 2rem;
        margin-top: 0;

       
    }
    

    
   
    



.search-buttons , .search-bar, .go-button{

    @include display-flex;
    @include justify-content(space-around);
   
    @include flex-wrap(wrap);
    
}

.search-buttons {

        @include align-content (center);
        @include align-items(center);
        position: relative;
        left: 0vw;
        height: 38vh;

    @include sm-mobile {

        height: 40vh;
    }
    @include mobile-landscape {

        height: 8rem;
       
    }

    @include tablet {

        height: 8rem;
        width: 86vw;
        left: 7vw;
    }

    @include desktop {

        width: 40vw;
        position: relative;
        left: 30vw;
        height: 22.5rem;;
    }

    @include large {

        left: 20vw;
        height: 11rem;
        width: 60vw;
    }

    @include xlarge {

        
        left: 15vw;
        height: 13rem;
        width: 70vw;
    }
   
}

.search-buttons--background {

    background-color: #fdeae86e;
   

   @include tablet {

    @include search-buttons-border;

   }

   @include desktop {

    @include search-buttons-border;
    
   }

   @include large {

    @include search-buttons-border;
   }

   @include xlarge {

    @include search-buttons-border;

   }
   
}

.search-buttons__button {

    margin: 1.5rem;
    //padding-top: 1rem;

        .search-buttons__button__text {

        margin-top: .3rem;
        margin-bottom: .3rem;
        @include button-text-desktop;
        color: #d56c05;;
    }

    @include tablet {

        padding-top: 0rem;
        
    }
}

.search-buttons__button__element--style {


    @include search-button-xs-mobile;
    

    

    @include sm-mobile {
        
       @include search-button-mobile;

    }
   
    @include mobile-landscape {

        @include search-button-xs-mobile;

    }

    @include tablet {

        @include search-button-mobile;
    }
    @include desktop {

        @include search-button-desktop;
    }

    
    
    @include large {
     
        @include search-button-desktop;
        
    }

    @include xlarge {

        @include search-button-lg-desktop;
        
        
    
    }

}

.search-button-clicked {
   
    border: 1px solid #0e0920;
    @include transition(background-color, 0.2s, cubic-bezier(0.175, 0.885, 0.32, 1.275));
    background-color: #d56c05;
    @include box-shadow (2px 4px 2px 0px #33180a);

}






.search-buttons__icon--style {

    font-size: 1.6rem;
    color: #d56c05;
    @include transition-mixin($search-button-text-transition);
}

#search-buttons__icon--clicked {
    
    color: #0e0920;
   
}


.search-buttons__button__element--style:hover,
.search-buttons__button__element--style:focus {

   @include box-shadow (2px 4px 2px 0px #33180a);
  

    .search-buttons__icon--style {

        //color: #0e0920;

    }

    .search-buttons__button__text {

        //color: #0e0920;
    }

}




//------------ GO BUTTON ------------------//

.go-button {

    margin-top: 0rem;
    padding-top: 2rem;
    width: 100vw;

    @include mobile-landscape {

        padding-top: 2rem;
    }

    @include tablet {

        margin-top: 3rem;
    }

    @include desktop {

        margin-top: 3rem;
    }


    @include xlarge {

       
        margin-top: 3rem;
        
    }

   
}


.go-button__button--style {


    @include go-button-mobile;
    @include display-flex;
    @include justify-content(center);
    @include align-items(center);
    transition-delay: .4s;
  

    
    @include button-text-desktop;
    font-size: 2rem;
    margin: 0px;
    color: #fff;

    @include xlarge {

        @include go-button-large-desktop;
    }
}

.go-deactivate {

    display: none;
}

a {

    text-decoration: none;
}

.go-button__button--style:hover,
.go-button__button--style:focus {

    @include box-shadow(2px 3px 3px 2px #24110c);
 
}

.go-click {

    @include box-shadow (2px 3px 3px 2px #24110c);
    font-size:2.5rem;
    background-color: #509949;
   
}
// ----------------- SEARCH BAR ----------------//

.search-bar__input {

    width: 20rem;
    height: 2rem;
    @include border-radius(0.3rem);
    border: 1px solid #000;
    margin-bottom: 1.5rem;
    font-family: $button-font;
    font-size: 1.2rem;
    text-align: left;


    @include desktop {

        width: 25rem;
    }

    @include large {

        height: 2.5rem;
        width: 25rem;
    }

    @include xlarge {

        height: 2.5rem;
        width: 25rem;
        margin-bottom: 2.5rem;
    }

}

//-------------------- LANDING PAGE STYLES END ----------------------//

// ----------------------- RESULTS STYLES --------------------------//

.hide-results {

    display: none;
}

.all-results {

    height: auto;
    width: 100vw;
    overflow: visible;
}
.results {

    height: auto;
    width: 100vw;
    position: relative;
    overflow: visible;
   // padding-bottom: 9rem;
   @include display-flex;
   @include flex-direction(column);
    //justify-content: center;
    @include flex-wrap(wrap);
    top: 4rem;
    @include align-items(center);
}



.all-results--background {

    background-color: #0e0920;
    padding-bottom: 9rem;
}

.results__display {

    width: 27rem;
    height: 20rem;
   // top: 5rem;
    //left: 25vw;
    position: relative;

    @include tablet {

        width: 50rem;
        height: 30rem;
    }

    @include desktop {

        width: 50rem;
        height: 30rem;
    }

    @include large {

        width: 50rem;
        height: 30rem;
    }

    @include xlarge {

        width: 50rem;
        height: 30rem;
    }
}

#map {

    height: 100%;
    width: 100%;
    position: relative;
        
}

.results-text {

    font-family: $text-font;
    font-size: 1rem;
    position: relative;
    //top: 5rem;
    width: 25rem;
    height: auto;
    //left: 25vw;
    text-align: center;

    @include tablet {

        width: 48rem;
    }

    @include desktop {

        width: 48rem;
    }

    @include large {

        width: 48rem;
    }

    @include xlarge {

        width: 48rem;
    }
}

.results-text--style {

    display: none;
    //border: 1px solid #0e0920;
    padding: 1rem;
    @include border-radius (0.5rem);
    background-color: #fff;
    color: #0e0920;
    //box-shadow: 2px 4px 6px 0px #4b241399;

}
.map-instructions {

    position: relative;
    text-align: center;
    padding-top: 1rem;
    font-family: $text-font;
    font-size: 1rem;
    color: #fff;
}

.reset {

    @include display-flex;
    @include flex-direction(row);
    @include justify-content(center);
    width: 6rem;
    height: 6rem;
    //justify-content: center;
    @include align-content(center);
    top: 2rem;
    position: relative;
    //left: 50vw;
    //transform: translatex(-50%);
    @include align-self (center);

    @include xlarge {

        width: 8rem;
        height: 8rem;
    }

}

.reset__button--style {

    width: 6rem;
    height: 6rem;
    @include border-radius(3rem);
    border: 2px solid white;
    background-color: #dd1616;
    @include display-flex;
    @include justify-content(center);
    @include align-items(center);
    font-family: $button-font;
    font-size: 1.5rem;
    margin: 0px;
    color: #fff;
    transition-delay: .2s;
   // transition: border 0.3s, background-color 0.3s, color 0.3s, cubic-bezier(0.175, 0.885, 0.32, 1.275);
    @include transition(border, 0.3s, cubic-bezier(0.175, 0.885, 0.32, 1.275));
    @include transition(background-color, 0.3s, cubic-bezier(0.175, 0.885, 0.32, 1.275));
    @include transition(color, 0.3s, cubic-bezier(0.175, 0.885, 0.32, 1.275));
    @include xlarge {

        width: 8rem;
        height: 8rem;
        @include border-radius (4rem);
    }
}

.reset:hover,
.reset:focus {

    cursor: pointer;

}

.reset-click {

    border: 2px solid #dd1616;
    color: #dd1616;
    background-color:#fff;
}

.website-button {

    height: 3rem;
    width: 6rem;
    border: none;
    @include border-radius (0.3rem);
    background-color: #d56d05;
    color: #0e0920;
    @include transition(color, 0.3s, cubic-bezier(0.175, 0.885, 0.32, 1.275));
    @include transition(background-color, 0.3s,cubic-bezier(0.175, 0.885, 0.32, 1.275));
}

.website-button:hover,
.website-button:focus {

    background-color: #0e0920;
    color: #d56d05;
}

//------------ MODAL STYLES ------------------//
// modified code from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal //

.modal {

    display: none;
    position: fixed;
    z-index:1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
}

.modal__content {

    background-color: rgba(255, 255, 255, 0.933);
    margin: auto;
    padding: 2rem;
    border: 1px solid #0e0920;
    width: 16rem;
    position: relative;
    top: 11vh;
    @include display-flex;
    @include justify-content(space-around);
    @include align-items(center);
    @include border-radius (1rem);

    @include tablet {

        width: 26rem;

    }

    @include desktop {

        width: 26rem;
        
    }

    @include large {

        width: 26rem;

    }

    @include xlarge {
        
        width: 26rem;
        top: 18vh;
    }
}

.modal__content__close {
    
    color: #171520cc;
    float: right;
    font-size: 2rem;
    font-weight: normal;
    @include transition (color, 0.3s, ease-in);
}

.modal__content__close:hover,
.modal__content__close:focus {

    color: #0e0920;
    cursor: pointer;
}

.modal__content__text {

        font-family: $text-font;
        color: #0e0920

}

@-webkit-keyframes fade-up {
    from {
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
    to {
      opacity: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; } }
  
  @keyframes fade-up {
    from {
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
    to {
      opacity: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; } }